<!DOCTYPE html>
<html>
    <title>Get Company Websites</title>
    <body>
        <H1>Get the company websites</H1>
        <form action="/getfile" method="post" enctype="multipart/form-data">
            <p>Upload a csv file</p>
            <input type="file" name="file" required>
            <p>Note: The Company Name Column must be "company_name" in the csv file.</p>
            <br>
            <button type="submit">Submit</button>
        </form>
        <hr>
        <p>Developed By Raman @2024</p>
    </body>
</html>