<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Raman</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Raman.</h1>
      <h2>a <span class="pro">Data</span>Engineer</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/raman.png" alt="angela-profile-img" width="300">
      <h2>Hello.</h2>
      <p class="intro">I am a data engineering fresher with a strong foundation in computer science and programming.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Skills</h3>
        <p> Skilled in ETL processes, data analysis, and database management, with project experience using languages such as Python, SQL and NoSQL.</p>

      </div>
      <div class="skill-row">
        <img class="goals-img" src="static/images/goals.png" alt="goals-img">

        <h3>Goal</h3>
        <p>Excited to contribute my skills and knowledge to a dynamic team in a challenging environment.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you like my work please share your review with me.</h3>
      <p class="contact-message">I know we both love coding and making new stuffs. We will have a cup of coffee together and work on more new stuffs.</p>
      <a class="btn" href="mailto:ramanmanjhi01@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ramankumarmanjhi/">LinkedIn</a>
    <a class="footer-link" href="https://ramancodes.github.io/resume/">Website</a>
    <p class="copyright">© 2023 Raman Kumar Manjhi @ Data Engineer.</p>
  </div>
</body>

</html>
